body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header nav{
  margin: 0, 15%;
}

header, footer {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 20px 2%;
  font-size: 12px;
  background: black;
}

header nav a, footer nav a {
  color: white;
  text-decoration: none;
  
}

a:hover {
   color: yellow;
 }
